@{
    ViewData["Title"] = "Upload";
}
@if (ViewBag.Success)
{
    @ViewBag.Message
}
else if (!ViewBag.Success && !String.IsNullOrWhiteSpace(ViewBag.Message))
{
    @ViewBag.Message
}
<h1>Upload File</h1>
@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br/>
        <input type="submit" value="Upload" />
    </div>
} 